/* 
* @Author: anchen
* @Date:   2017-03-28 11:26:33
* @Last Modified by:   anchen
* @Last Modified time: 2017-03-28 11:26:33
*/


.SDHome{

    >.sdTongzhi{
        margin-top: 32px;

        >.sdhead{
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid skyblue;
            line-height:32px;

            &>span:nth-of-type(1){
                font-weight: bold;
            }

            &>a>span{
                margin-right: 20px;
                font-style: italic;
                cursor: pointer;
            }

        }

        >.neirong{
            padding-left: 0;
            padding-right: 0;

            &>li>a>.glyphicon{
                line-height:32px;
            }

        }

    }

    .shortIntroduce{
        margin-top: 20px;

        >.introHead{
            line-height:32px;
            border-bottom: 2px solid skyblue;
            font-weight: bold;
        }

        >.introMain{
            padding:20px 0;

            &>p{
                text-indent:2em;
                line-height:25px;
                font-size: 15px;

                &>span{
                    display: block;
                    margin-top: 10px;
                }

                &>.image{
                    text-indent: 0;
                    float: left;

                    &>img{
                        width:200px;
                        height:150px;
                        margin:20px;
                    }

                }

            }

        }

    }

}