#personCenter{
  background-color: #f8f8f8;

  >.topbar{
    width: 1000px;
    height: 45px;
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >.topl{
      &>span{
        margin-right: 20px;
        font-size: 14px;
        color: #333;
        line-height: 30px;
        cursor: pointer;

        i{
          font-size: 14px;
          margin-left: 4px;
        }

      }
      &>.sign_out:hover{
        font-weight: bold;
      }
      &>span:nth-of-type(1){
        color: #f00;
        font-weight: bold;
      }
    }

    >.topr{
      line-height: 30px;

      ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li{
        display: inline-block;
        margin-left: 20px;
        font-size: 14px;
        color: #333;
        cursor: pointer;

        i{
          margin-right: 2px;
          color: #333;
        }

      }

    }

  }

  >.personalHead{
    width: 100%;
    height: 160px;
    background: url('/images/navbg.png') repeat-x;
    // background-size: cover;
    .head_wrap{
      width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      >span:nth-of-type(1){
          height:160px;
          display: flex;
          align-items: center;
          margin-left: 50px;

          >img{
              height:120px;
          }

      }

      >span:nth-of-type(2){
        display: inline-flex;
        align-items: center;
        margin: auto auto 52px;

        &>input{
          width: 440px;
          height: 40px;
          color: #666;
          outline: none;
          border: 1px solid #999;
          box-sizing: border-box;
          text-indent: 6px;
        }

        &>em{
          font-size: 14px;
          color: #666;
          line-height: 40px;
          display: inline-block;
          margin-left: 16px;
          border: 1px solid #999;
          padding: 0 15px;
          height: 40px;
          box-sizing: border-box;
          background-color: #fff;
          text-align: center;
          cursor: pointer;
          min-width: 80px;
        }

        &>em:hover{
          font-weight: bold;
          background-color: #f8f8f8;
        }

      }

    }

  }

  >.contwrap{
    width: 80%;
    max-width: 1100px;
    margin: 32px auto 50px;

    >h3{
      font-size: 14px;
      color: #333;
      line-height: 24px;
      font-weight: normal;
      margin-bottom: 26px;

      &>em{
        font-weight: bold;
      }

    }

    >.main{
      border: 1px solid #dfdfdf;
      display: flex;
      min-height: 610px;

      >.wrap_l{

        width: 310px;
        min-height: 500px;
        background-color: rgba(4, 18, 27, 0.88);
        margin-right: 60px;
        padding: 20px 0 0;

        >.picwrap{
          text-align: center;
          margin: 24px 0;

          &>span{
            display: inline-block;
            border: 2px solid #fff;
            border-radius: 50%;
            &>img{
              height: 72px;
              border-radius: 50%;
            }
          }

          &>p{
            font-size: 15px;
            color: #3385ff;
            margin-top: 20px;
          }

        }

        >ul{
          margin: 15px 0;
          padding: 0;
          list-style: none;

          &>li{
            line-height: 25px;
            list-style: none;
            padding: 8px 0;
            margin: 8px 0;
            box-sizing: border-box;
            cursor: pointer;

            &>i{
              font-size: 16px;
              color: skyblue;
              margin-right: 6px;
              margin-left: 3em;
            }

            &>span{
              font-size: 16px;
              color: #fff;

              &>em{
                display: inline-block;
                color: #f00;
                font-size: 13px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #fff;
                line-height: 16px;
                text-align: center;
                font-weight: bold;
                margin-left: 8px;
              }

            }
          }

          &>li:hover{
            background-color: rgba(1, 11, 16, 0.88);
          }

        }

      }

      >.wrap_r{
        width: calc(100% - 370px);
        min-height: 500px;
        background-color: #fff;
        padding-bottom: 50px;

        >.tab{
          height: 40px;
          font-size: 0;
          background-color: #f8f8f8;

          &>span{
            display: inline-block;
            width: 120px;
            height: 40px;
            font-size: 14px;
            color: #666;
            text-align: center;
            line-height: 40px;
            border: 1px solid #dfdfdf;
            box-sizing: border-box;
            cursor: pointer;
          }
          &>.active{
            background-color: #3385ff;
            color: #fff;
          }
          &>span:nth-of-type(1){
            border-right: none;
          }
        }

        >.r_main{

          height: 100%;
          display: flex;
          align-items: center;

          >.messageCont, >.changePsw{
            width: 100%;
            padding: 40px 0;

            &>p:nth-of-type(1) {
              margin-top: 0;
            }

            &>p:nth-last-of-type(1) {
              margin-bottom: 0;
            }

            &>p{
              margin: 20px auto;
              font-size: 15px;
              color: #333;
              line-height: 24px;
              &>span:nth-of-type(1) {
                display: inline-block;
                margin-left: 20%;
                margin-right: 8px;
              }

              &>.editable{
                height: 32px;
                line-height: 32px;
                background-color: #f8f8f8;
                border: 1px solid #dfdfdf;
                display: inline-block;
                min-width: 240px;
                text-indent: 8px;
                color: #999;
              }

            }

            &>.saveModify{
              text-align: center;
              margin-top: 50px;

              &>button{
                width: 240px;
                height: 36px;
                box-sizing: border-box;
                font-size: 15px;
                color: #fff;
                margin: 0 auto;
                background-color: #3385ff;
                border: none;
                cursor: pointer;
              }
            }

          }

          >.changePsw{

            &>p{

              &>span:nth-of-type(1) {
                min-width: 80px;
              }

              &>span{
                &>input{
                  height: 32px;
                  line-height: 32px;
                  border: 1px solid #dfdfdf;
                  min-width: 240px;
                  text-indent: 8px;
                  color: #999;
                }
              }

            }


            &>.saveModify{
              &>button{
                width: 120px;
                margin: 0 15px;
              }

              &>button:nth-of-type(2) {
                background-color: lightgreen;
              }
            }

          }

        }

      }

    }

  }

}