.health{
	position: relative;
}
.health ul{
	margin-top: 2em;
	padding : 0 24px;
}
.health li{
	height: 36px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 32px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	color: #000;
	padding : 0 3.2em 0 2em;
	justify-content: space-between;
	border-bottom: 1px dashed #d8d8d8;
}
.health li>span{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.health li>span>em{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #000;
	display: inline-block;
	margin-right: 10px;
}
.health li>time{
	//margin-left: 4em;
	color: #666;
	font-size: 14px;
	line-height: 32px;
	float: right;

}
.health li:hover{
	border-bottom: 1px dashed #000;
	background-color: skyblue;
	color: #fff;
}
.topage{
	text-align: center;
	position: absolute;
	bottom: 2.5em;
	width: 100%;
	line-height: 32px;
}
.topage>em{
	display: inline-block;
	line-height: 32px;
	font-size: 16px;
}
.topage>span{
	margin-left: 2em;
	color:red;
	line-height: 32px;
}
.topage>span>select{
	margin: 0 10px;
	width: 80px;
	height: 32px;
}