em{
    font-style: normal;
}
.breadNav{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px lightgray dotted;
}
.breadNav ol{
    margin:10px 0;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
}
.breadNav li{
    font-size: 14px;
    line-height: 24px;
}
.breadNav ol>em{
    margin: 0 6px;
}
.buildingMsg{
    margin-top: 20px;
}
.buildingMsg>.sdhead,.searchResult>.sdhead{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid skyblue;
    line-height:32px;
}
.buildingMsg>.sdhead span:nth-of-type(1),.searchResult>.sdhead span{
    font-weight: bold;
}
.buildingMsg>.sdhead span:nth-of-type(2){
    font-size: 15px;
    margin-right: 20px;
    font-style: italic;
    cursor: pointer;
}
.buildSearch{
    margin-top: 32px;
}
.buildSearch>.filter{
    height:52px;
    font-size: 15px;
    line-height:32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buildSearch>.filter>.btn{
    margin:0;
}
.buildName{
    display: flex;
}
.buildSearch select{
    width: 200px;
    height: 30px;
    font-size: 14px;
    outline: none;
}
.buildName>input{
    width:200px;
    height:30px;
    box-sizing: border-box;
    text-align: center;
}
.sex input[type=radio]{
    margin-left: 14px;
}
.btn{
    width:84px;
    height:30px;
    border: 1px solid #21c6cd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    cursor: pointer;
}
.btn span{
    display: flex;
    align-items: center;
    margin-right: 4px;
}
.btn img,.btn span{
    height:18px;
}
.searchResult{
    margin-top: 22px;
}
.searchResult>span{
    line-height:42px;
    display: block;
    border-bottom: 1px solid lightgray;
}
.searchResult table>thead{
    background: #f8f8f8;
}
.searchResult table>tbody{
    font-size: 15px;
}
.searchResult table{
    width:100%;
    text-align: center;
    line-height:32px;
    cellpadding:10px;
    cellspacing:0;
    margin-top: 20px;
}
.searchResult table>tbody tr:nth-child(odd){
    background:LavenderBlush;
}
.searchResult table>tbody tr:nth-child(even){
    background:LightCyan;
}
.searchResult table>tbody a{
    color: orange;
}
.searchResult table>tbody a:hover{
    text-decoration: underline;
}
.page{
    margin-top: 24px;
}
.page span{
    width: 64px;
    height: 32px;
    font-size: 14px;
    border: 1px solid #21c6cd;
    border-radius: 5px;
    margin: 0 6px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}