*{
    list-style-type: none;
}
#smWrap nav,#roomMain nav{
    width:980px;
    margin: 20px auto;
    background:url('../../../src/images/bar.png') repeat-x;
}
#smWrap>nav>ul,#roomMain>nav>ul{
    display: flex;
    justify-content: flex-start;
    margin:0;
}
#smWrap>nav>ul li,#roomMain>nav>ul li{
    line-height: 45px;
    margin: 0 12px;
    padding: 0 10px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.smContent{
    width:980px;
    min-height: 600px;
    margin:0 auto;
    background:url('../../../src/images/newPower.png') no-repeat;
    position: relative;
    margin-bottom: 32px;
    background-position: left bottom;
    margin-bottom: 60px;
    overflow-y: auto;
}
.smdiv{
    width:660px;
/*    height:240px;
    position: relative;
    left: 200px;
    top:50px;*/
    margin: 50px auto 0;
}
.smdiv h3{
    text-align: center;
    margin:0;
    padding:1em 0 1.5em;
    border-bottom: 1px dashed lightgray;
}
.sdsearch p{
    height:30px;
    line-height:30px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 80px;
}
.sdsearch p input{
    width:200px;
    height:30px;
    box-sizing: border-box;
    text-align: center;
}
.sdsearch p .btn{
    width:81px;
    margin:0;
    margin-left: 32px;
}
.smdiv>p{
    margin-top: 80px;
    font-size: 20px;
    cursor: pointer;
    padding-top: 32px;
    border-top: 1px solid lightgray;
}
.smdiv>p>a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.smdiv>p>a>span{
    height:20px;
    display: inline-block;
    display: flex;
    align-items: center;
}
.smdiv>p img{
    height:20px;
    margin-right: 6px;
}
.smdiv>p em{
    line-height:20px;
    display: inline-block;
}
