.employeeSearch>.filter{
    justify-content: space-between;
}
.employeeSearch > .position>input[type=radio]{
    margin-left: 24px;
}
.employeeSearch>.position{
    margin-top: 10px;
}
.employeeSearch >.btn{
    margin-top: 32px;
}
.page{
    margin-top: 24px;
}
.page span{
    width: 64px;
    height: 32px;
    font-size: 14px;
    border: 1px solid #21c6cd;
    border-radius: 5px;
    margin: 0 6px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}