#root{
    height: 100%;
}
#Login{
    height: 100%;
    background: url('../../../../src/images/loginbg.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    >.loginDiv{
        width: 520px;
        background:rgba(0,0,0,0.6);
        text-align: center;
        box-shadow: 0 0 50px white;
        border-radius: 10px;
        padding-bottom: 24px;

        >h3{
            border-bottom: 1px dashed white;
            padding: 1em 0 24px;
            margin-top: 10px;
            color: white;
        }

        >label{
            display: inline-block;
            width:360px;
            height:50px;
            border:1px solid lightgray;
            margin: 24px 0;
            padding-left: 60px;
            box-sizing: border-box;
            background:url('../../../../src/images/input_icons.png');

            &>input{
                width:100%;
                height:50px;
                border: none;
                background:none;
                box-sizing: border-box;
                font-size: 16px;
                color:white;
            }

        }

        >label:nth-of-type(1){
            background:url('../../../../src/images/input_icons.png') 10px 0 no-repeat;
        }

        >label:nth-of-type(2){
            background:url('../../../../src/images/input_icons.png') 10px -50px no-repeat;
        }

        >p{

            >input{
                width:100px;
                height:36px;
                border:none;
                background:rgba(255,250,250,0.4);
                font-size: 16px;
                border-radius:5px;
                -webkit-transition:0.5s;
                cursor: pointer;
            }

            >input:hover{
                background:rgba(255,250,250,0.7);
            }

        }

        >span{
            display: inline-block;
            width:360px;
            height:24px;
            text-align: right;
            color:white;
            cursor: pointer;
            line-height: 24px;
        }

    }

    .box-reflect{
        -webkit-box-reflect: below 1em linear-gradient(transparent,transparent 50%,white);
        box-reflect: below 1em linear-gradient(transparent,transparent 50%,white);
    }

}
