#outsidersVisit{

  >.health{
      width: 980px;
      min-height: 600px;
      margin: 42px auto 52px;
      border: 1px solid lightskyblue;
      // padding-bottom: 32px;
      // background-color: red;
  }

}