.repTopbar{
    height:32px;
    background: linear-gradient(skyblue,white,skyblue);

    &>span{
        display: flex;
        align-items: center;

        &>img{
            height: 32px;
            margin-right: 10px;
        }
    }

}