em{
    font-style: normal;
}

#buildingMsg{

    >.breadNav{
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px lightgray dotted;

        >ol{
            margin:10px 0;
            padding-left: 10px;
            display: flex;
            justify-content: flex-start;

            >li{
                font-size: 14px;
                line-height: 24px;
            }

            >em{
                margin: 0 6px;
            }

        }

    }

    >.buildingMsg{
        margin-top: 20px;

        >.sdhead{

            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid skyblue;
            line-height:32px;

            >span:nth-of-type(1){

                font-weight: bold;

            }

            >span:nth-of-type(2){
                font-size: 15px;
                margin-right: 20px;
                font-style: italic;
                cursor: pointer;
            }

        }

        >.buildingMain{

            >.buildSearch{
                margin-top: 32px;

                >.filter{
                    height:52px;
                    font-size: 15px;
                    line-height:32px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    &>.btn{
                        margin:0;
                        // width:84px;
                        padding: 0 8px;
                        height:30px;
                        border: 1px solid #21c6cd;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        &>span{
                            display: flex;
                            align-items: center;
                            margin-right: 4px;
                            height:18px;

                            img{
                                height: 18px;
                            }

                        }
                    
                    }

                    &>.buildName{
                        display: flex;

                        &>form{

                            &>select{
                                width: 200px;
                                height: 30px;
                                font-size: 14px;
                                outline: none;
                            }

                        }

                    }

                }

            }

            >.searchResult{
                margin-top: 22px;

                >.sdhead{

                    &>span{
                        font-weight: bold;
                        line-height:42px;
                        display: block;
                        border-bottom: 1px solid lightgray;
                    }

                }

                >table{
                    width:100%;
                    text-align: center;
                    line-height:32px;
                    cellpadding:10px;
                    cellspacing:0;
                    margin-top: 20px;
                    margin-bottom: 24px;

                    >thead{
                        background: #f8f8f8;
                    }

                    >tbody{
                        font-size: 15px;

                        &>tr:nth-child(odd){
                            background:LavenderBlush;
                        }

                        &>tr:nth-child(even){
                            background:LightCyan;
                        }

                        a{
                            color: green;
                        }

                        a:hover{
                            text-decoration: underline;
                        }

                    }

                }

                >.page{
                    display: flex;
                    justify-content: center;

                    >li{
                        height:36px;
                        border:1px solid lightgray;
                        list-style: none;
                        margin: 0 1em;
                        text-align: center;
                        line-height:36px;
                        box-sizing: border-box;
                        border-radius: 10px;
                        padding:0 1em;
                        cursor: pointer;
                    }
                }

            }

        }

    }

}