.InOutDetail{
    >h3{
        margin: 1em 0 0;
        padding: 1em 0;
        text-align: center;
        border-bottom: 1px dashed lightgray;
    }

    >.InoutFilter{
        display: flex;
        justify-content: space-around;
        align-items: center;

        >p{
            height:36px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2.6em;
            line-height: 18px;

            >select{
                width:200px;
                height:30px;
                box-sizing: border-box;
            }

            >input{
                width:220px;
                height:32px;
                box-sizing: border-box;
                margin-right: 1em;
                text-align: center;
            }

            >span{
                display: inline-block;
                height:18px;
                cursor: pointer;

                img{
                    height: 18px;
                }
            }
        }
    }

    >table{
        width: 94%;
        border-collapse:collapse;
        margin: 2em auto 2em;

        thead{
            background: #f8f8f8;
            font-size: 15px;
        }

        tr{
            height: 42px;
            text-align: center;
            line-height: 25px;

            td{
                border: 1px solid lightgray;
                margin: 0;
            }
        }

        tbody{

            tr:nth-child(odd){
                background:#E0FFFF;
            }

            tr:nth-child(even){
                background:#FFF0F5;
            }
        }

    }

    >.page{
        display: flex;
        justify-content: center;

        >li{
            height:36px;
            border:1px solid lightgray;
            list-style: none;
            margin: 0 1em;
            text-align: center;
            line-height:36px;
            box-sizing: border-box;
            border-radius: 10px;
            padding:0 1em;
            cursor: pointer;
        }
    }

}