.lateRg{
    background-color: rgba(255,255,255,1);
    padding-top: 24px;
    min-height: 600px
}
.lateRg h3{
    margin: 26px 0 0;
    padding: 1em 0 1.5em;
    text-align: center;
    border-bottom: 1px dashed lightgray;
}
.lateRg>.InoutFilter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.lateRg>.InoutFilter>p{
    height:36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.6em;
}
.lateRg>.InoutFilter>p>select{
    width:200px;
    height:30px;
    box-sizing: border-box;
}
.lateRg>.InoutFilter>p>input{
    width:220px;
    height:32px;
    box-sizing: border-box;
    margin-right: 1em;
    text-align: center;
}
.lateRg>.InoutFilter>p img,.InoutFilter>p>span{
    display: inline-block;
    height:18px;
    cursor: pointer;
}
.lateRg>table{
    width: 94%;
    border-collapse:collapse;
    margin: 2em auto 2em;
}
.lateRg tr{
    height: 42px;
    text-align: center;
    line-height: 25px;
}
.lateRg thead{
    background: #f8f8f8;
    font-size: 15px;
}
.lateRg tr>td{
    border: 1px solid lightgray;
    margin: 0;
}
.lateRg tr>td a{
    color: green;
}
.lateRg tbody tr:nth-child(odd){
    background:#E0FFFF;
}
.lateRg tbody tr:nth-child(even){
    background:#FFF0F5;
}
.page{
    display: flex;
    justify-content: center;
}
.page li{
    height:36px;
    border:1px solid lightgray;
    list-style: none;
    margin: 0 1em;
    text-align: center;
    line-height:36px;
    box-sizing: border-box;
    border-radius: 10px;
    padding:0 1em;
    cursor: pointer;
}