/* 
* @Author: anchen
* @Date:   2017-04-06 23:22:07
* @Last Modified by:   anchen
* @Last Modified time: 2017-04-06 23:22:07
*/

.smContent{

  width:980px;
  min-height: 600px;
  margin:0 auto;
  background:url('../../../../src/images/newPower.png') no-repeat;
  position: relative;
  margin-bottom: 32px;
  background-position: left bottom;
  margin-bottom: 60px;
  overflow-y: auto;

  .smdiv{

    width:660px;
    margin: 50px auto 0;

    >h3{
        text-align: center;
        margin:0;
        padding:1em 0 1.5em;
        border-bottom: 1px dashed lightgray;
    }

    >.sdsearch>p{
        height:30px;
        line-height:30px;
        display: flex;
        justify-content: center;
        font-size: 15px;
        margin-top: 80px;

        >span>select{
            width: 160px;
            height: 30px;
            font-size: 15px;
        }

        >span:nth-of-type(2){
            margin-left: 32px;
        }

        >a{

            >.btn{
                display: flex;
                align-items: center;
                height: 24px;
                margin:0;
                margin-left: 32px;
                border: 1px solid #999;
                padding: 2px 10px;
                border-radius: 3px;

                &>span{
                    display: inline-block;
                    height: 16px;
                    font-size: 0;
                    margin-right: 4px;

                    &>img{
                        height: 16px;
                    }

                }

                &>em{
                    display: inline-block;
                    height: 18px;
                    line-height: 18px;
                    font-size: 16px;
                }

            }

        }
    }

    >p{
        margin-top: 80px;
        font-size: 20px;
        cursor: pointer;
        padding-top: 32px;
        border-top: 1px solid lightgray;

        >a{
            display: flex;
            justify-content: center;
            align-items: center;

            >span{
                height:20px;
                display: inline-block;
                display: flex;
                align-items: center;

                img{
                    height:20px;
                    margin-right: 6px;
                }
            }

            >em{
                line-height:20px;
                display: inline-block;
            }
              
        }
    }

  }

}