.clearfix{
    overflow: hidden;
    _zoom:1;
}
input,textArea,select{
    outline: none;
}

#repairMain{
    width:980px;
    margin:0 auto;
    margin-top: 50px;

    >.repTopbar{
        height:32px;
        background: linear-gradient(skyblue,white,skyblue);

        &>span{
            display: flex;
            align-items: center;

            &>img{
                height: 32px;
                margin-right: 10px;
            }
        }

    }

    >.repairForm{
        width:100%;
        height:520px;
        border: 1px skyblue solid;
        box-sizing: border-box;
        position: relative;

        >h3{
            padding-left: 42px;
        }

        >.repairdetail{

            &>.formleft{
                width:50%;
                box-sizing: border-box;
                float: left;

                &>p{
                    width:80%;
                    height:32px;
                    display: flex;
                    justify-content: space-between;
                    margin:16px auto;

                    &>input, &>select{

                        width:240px;
                        box-sizing: border-box;

                    }

                    >span{
                        margin-right: 50px;
                    }
                    
                }

            }

            &>.formright{
                width:50%;
                box-sizing: border-box;
                float: right;

                &>p:nth-of-type(1){
                    margin-top: 0;

                    &>span{
                        display: block;
                        line-height: 36px;
                    }

                    &>textArea{
                        min-width: 90%;
                        max-width: 90%;
                        height:120px;
                        overflow-y: auto;
                        resize: none;
                        padding: 12px;
                        box-sizing: border-box;
                        font-size: 15px;
                        color: #666;
                        line-height: 22px;
                    }

                }

                &>p:nth-of-type(2){

                    &>select{
                        width:240px;
                        height:32px;
                        margin-bottom: 10px;
                    }

                    &>span:nth-of-type(2){
                        display: block;
                        margin-bottom: 20px;

                        &>label{
                            display: inline-flex;
                            align-items: center;
                            width:50%;
                            text-align: center;
                            line-height:36px;

                            &>input{
                                width:16px;
                                height:16px;
                                margin-right: 6px;
                            }

                        }

                    }

                    &>span:nth-of-type(3){
                        &>em{
                            margin-right: 10px;
                        }

                        &>input{
                            height:32px;
                            width:320px;
                            box-sizing: border-box;
                        }

                    }

                }

            }

            &>p:nth-last-of-type(1){
                width:100%;
                position: absolute;
                bottom: 30px;
                text-align: center;

                &>button{
                    width:64px;
                    height:28px;
                    background:green;
                    color: white;
                    border:none;
                    margin-right: 10px;
                    cursor: pointer;
                }

                &>input{
                    width:64px;
                    height:28px;
                    background:blue;
                    color: white;
                    border:none;
                    margin-left: 10px;
                    cursor: pointer;
                }

            }

        }

    }

    >.repairs{
        border:1px solid skyblue;
        margin-top: 32px;
        padding: 20px;
        box-sizing: border-box;
        min-height: 500px;
        overflow-y: hidden;
        margin-bottom: 50px;
        box-shadow: 0 0 20px lightgray;
        border-radius: 5px;

        >h3{
            text-align: center;
            border-bottom: 1px dotted lightgray;
            padding: 0 0 24px;
        }

        >.repairContent{
            color:green;
            font-weight: bold;

            &>ul>li{

                padding:14px 10px;
                border-bottom: 1px dashed lightgray;
                border-top: 1px dashed lightgray;
                margin-bottom: 20px;

                &>p>span{
                    color: #000;
                    font-weight: normal;
                }

            }

            &>ul>li:nth-child(odd){
                background: #E0FFFF;
            }

            &>ul>li:nth-child(even){
                background: #F8F8FF;
            }

        }

    }
    
}