.detailmsg{
	width: 980px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 600px;
	border: 1px solid #d8d8d8;
	margin: 20px auto;
	box-shadow: 0 0 40px #f8f8f8;
}