thead>tr>td:nth-of-type(4){
	width: 320px;
}

tr>td:nth-of-type(4){
	width: 320px;
	max-width: 320px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.healthdetail>.page{
	margin: 3em 0;
}