#nav{
    width:980px;
    margin: 20px auto;
    background:url('../../../src/images/bar.png') repeat-x;
}

#nav>ul{
    display: flex;
    justify-content: flex-start;
    margin:0;
}
#nav>ul li{
    line-height: 45px;
    margin: 0 12px;
    padding: 0 10px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
