footer{
    margin-top: 20px;
    padding:50px 0 30px;
    box-sizing: border-box;
    background:linear-gradient(white,skyblue);
}
.copyrighy{
    width:980px;
    margin:0 auto;
    text-align: center;
}
.copyrighy h4{
    line-height:32px;
    margin:0;
}
.copyrighy h4 em{
    margin:0 10px;
}
.copyrighy p{
    line-height:32px;
    font-size: 15px;
    margin-top: 20px;
}
.copyrighy em{
    margin:0 10px;
}
