footer{
    margin-top: 20px;
    padding:50px 0 30px;
    box-sizing: border-box;
    background:linear-gradient(white,skyblue);

    >.copyrighy{
        width:980px;
        margin:0 auto;
        text-align: center;

        >h4{
            line-height:32px;
            margin:0;

            &>em{
                margin:0 10px;
            }

        }

        >p{
            line-height:32px;
            font-size: 15px;
            margin-top: 20px;

            &>em{
                margin:0 10px;
            }

        }

    }

}
